@{
    ViewData["Title"] = "The App";
}

<div class="container">
    <h2 class="mb-2">Loan Calculator</h2>

    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>

        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
</div>